*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px/16px to get 10px of browser default 16. Allows site to use changable browser default */
}
body {
  box-sizing: border-box;
  padding: 1.8rem;

  @include respond(phone) {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
