.results-body {
  @include respond(phone) {
    // display: flex;
    // flex-direction: column;
    float: left;
  }
}

.section_information {
  //background-image: linear-gradient(to top right, whitesmoke, cornsilk);
  background-color: cornsilk;

  @include respond(phone) {
    padding: 0;
    hight: 60rem;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // display: inline-block;
  }

  &__links {
    padding-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;

    :hover {
      transition: all 0.3s ease;
      text-decoration: underline;
      transform: scale(115%);
    }

    @include respond(phone) {
      padding: 1rem 1rem;
      width: 100%;
      // display: inline-block;
      transform: translateY(5rem);
      position: relative;
      display: inline-block;
    }
  }
}

.section-scores {
  color: black;

  @include respond(phone) {
    z-index: 10000;
    padding: none;
    margin: 0;
    width: 100%;

    // display: flex;
    // flex-direction: column;

    // height: auto;
    // position: absolute;
    // top: 90vh;
    // left: 0rem;
  }

  &__box {
    //background-color: lightgreen;
    background-image: linear-gradient(to top, cornflowerblue, cornsilk);
    padding-top: 8rem;
    text-align: center;
    height: auto;
    width: 100%;
    transform: translateY(-4rem);
    margin-bottom: -4.5rem;
    display: inline-block;
    padding-bottom: 3rem;

    @include respond(phone) {
      z-index: 10000;
      padding-top: 53rem;
      margin: 0;
      width: 100%;
      transform: translateY(2rem);
      // height: auto;
      // position: absolute;
      // top: 58vh;
      // left: 0rem;
    }

    &__heading {
      font-family: 'Permanent Marker', cursive;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      text-decoration: underline;
      font-size: 4.5rem;
      padding-bottom: 1.5rem;
      color: rgb(6, 6, 99);
    }

    &__hidden {
      visibility: hidden;
      display: none;
    }

    &__match--1 {
      background-color: blanchedalmond;
      height: 25rem;
      width: 30rem;
      border: 2px solid black;
      padding: 1rem;
      text-align: center;
      margin: 1rem;
      display: inline-block;
      box-shadow: 0 1rem 4rem rgba($color-black, 0.2);

      @include respond(phone) {
        z-index: 10000;
        height: auto;
        width: 90%;
        padding: 0;
        margin: 0;
        margin-bottom: 1.5rem;
      }

      &__heading {
        font-size: 2.2rem;
        text-decoration: underline;
      }

      &__home,
      &__away,
      &__vs {
        padding: 1rem;
        font-size: 2rem;
      }
    }
  }
}

.section-todays-matches {
  background-color: cornflowerblue;
  color: black;
  text-align: center;
  padding-top: 2rem;

  @include respond(phone) {
    width: 100%;
    // position: absolute;
    // top: 180vh;
    // left: 0;
  }
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    padding: 3rem 0;
    color: rgb(6, 6, 99);
    text-decoration: underline;
  }

  &__box {
    padding-top: 1rem;
    background-image: linear-gradient(to top, lightsteelblue, cornflowerblue);
    text-align: center;
    padding-bottom: 2rem;

    @include respond(phone) {
      width: 80%;
      margin-left: 10%;
    }
  }
}

.match-table {
  background-color: blanchedalmond;
  border: 3px solid black;
  width: 25%;
  display: inline-block;
  text-align: center;
  padding-top: 1rem;
  color: black;
  margin: 0 4rem;
  box-shadow: 0 1rem 4rem rgba($color-black, 0.2);

  @include respond(phone) {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  &__contents {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    color: black;
    font-size: 1.5rem;
  }

  &__gap {
    width: 5rem;
  }
}

.section-yesterdays-guesses {
  background-color: pink;
  color: black;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  @include respond(phone) {
    // position: absolute;
    // top: 502vh;
    // left: 0;
  }

  &__heading {
    text-align: center;
    color: rgb(6, 6, 99);
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 3.5rem;
    padding-bottom: 3rem;
  }

  &__box {
    padding-top: 1rem;
    background-color: pink;
    text-align: center;

    @include respond(phone) {
      width: 80%;
      margin-left: 10%;
    }
  }
}
